[submodule "pkg/tree-sitter"]
	path = pkg/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git

[submodule "pkg/tree-sitter-typescript"]
	path = pkg/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "pkg/libxev"]
	path = pkg/libxev
	url = https://github.com/mitchellh/libxev
